::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #d4d4d4;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 15px;
  border: 2px solid #d4d4d4;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}
